@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
:root{

    --color1:#ffffff;
    --color2:#04601F;
    --color3:#dfe4ea;
    --color4:#A5CF46;
    --color5:#111111;
    --color6:#57606f;
    --color7:#F7FBED;
    --color8:#0C873F;

}
body{

    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/*-------header----------*/

.main-head{
    width: 100%;
    background-color: var(--color1);
    box-shadow: 0px 3px 10px var(--color3);
    height: 100%;
}
.container{
    width: 1080px;
    margin: 0px auto;
    padding: 17px 0px;
}
.logo{
    height: 60%;
    width: 10%;
}

.top-head{

    display: flex;
    align-items: center;
    
}
.menu-line{
    display: flex;
}
.menu-line a{
    margin: 0px 20px;
    text-decoration: none;
    list-style: none;
    color: #2f3640;
    transition: all 300ms;
}
.menu-line a:hover{
    text-decoration: underline;
    color: var(--color4);
    
}
.active{
    color: var(--color4) !important;
    text-decoration: underline !important;
}
.panel{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    margin-right: 20px;
}
.search i , .cart i{
 
        font-size: 1.2em;
}

/*----------bgcontainerpic-------------*/

.bgpic-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0,0,0,0.5)) , url('./small veg/bgcontainer.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bgpart{
    height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    color: var(--color1);  
    font-size: 3.6em;
    font-weight: 600;
}
.para{
    color: var(--color1);
    font-size: 1.1em;
    font-weight: 200;
    text-align: center;
    line-height: 30px;
    letter-spacing: .5px;
}
.button-container{
    margin-top: 20px;
}
.button-container :hover{
    color: var(--color1);
    border: 2.5px solid var(--color1);
}
.one{
    color: var(--color1);
    background-color: transparent;
    border: 2px solid var(--color1);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 10px 60px;
    margin-right: 3px;
    border-radius: 4px;
}
.two{
    color: var(--color1);
    background-color: transparent;
    border: 2px solid var(--color1);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 10px 60px;
    margin-left: 3px;
    border-radius: 4px;
}

/*-----------feature-products---------*/

.heading1{
    color: var(--color5);
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 12px;
}
.block{
    display: flex;
    justify-content: space-between;
}
.grp{

    margin: 0px 5px ;
    position: relative;

}
.veg{
   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.veg img{

        width: 100%; 
        height: 350px;
        object-fit: cover;
        transition: 600ms;
}
.veg:hover img{
    transform: scale(1.05);
}
.content{

    height: 100px;
    color: var(--color5);
    font-size: 1em;

}
.content h3{

    padding-top: 10px;
    color: var(--color5);
    font-size: .9em;
    font-weight: 600;

}
.price{

    color: var(--color6) ;
    text-decoration: line-through;
    font-size: .8em;
    letter-spacing: 3px;

}
.sale{
    position: absolute;
    width: 62px;
    height: 28px;
    background-color: var(--color8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color7);
    border-radius: 5em;
    bottom: 24%;
    left: 4.5%;
    font-size: .8em ;
    font-weight: 400;
}

/*------featureproduct2nd part----*/

.block2{
    display: flex;
    justify-content: space-between;
}
.grp2{
 margin: 0px 5px;
 position: relative;
}
.veg2{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.veg2 img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: 600ms;
}
.veg2:hover img{
    transform: scale(1.04);
}
.sale2{

    position: absolute;
    background-color: var(--color8);
    color: var(--color7);
    height: 28px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    font-size: .8em;
    font-weight: 400;
    bottom: 24%;
    left: 4.3%;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view{
    margin-top: 25px;
    color: var(--color1);
    background-color: var(--color2);
    padding: 12px 30px;
    border-radius: 3px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
}
/* -----------fresh collection ---- */